{% extends "base.html" %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow">

            <div class="card-header bg-primary text-white">
                <h1>Formulario de creación de producto</h1>
            </div>

            <div class="card-body">
                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button 
                        type="submit"
                        class="btn btn-primary"
                    >
                        Guardar
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>





{% endblock %}