{% extends "base.html" %}

{% block contenido %}

    <h1>Productos</h1>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Color</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for producto in productos %}

            <tr>
                <td>{{producto.nombre}}</td>
                <td>{{producto.color}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.stock}}</td>
                <td>${{producto.precio}}</td>
                <td>
                    <button class="btn btn-primary">Detalle</button>
                    <button class="btn btn-warning">Editar</button>
                    <button class="btn btn-danger">Borrar</button>
                </td>
            </tr>

            {% empty %}

                <tr>
                    <td>
                        No hay productos dentro de los registros
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}